/* Custom App CSS Below --------------------------------- */
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  background-color: #1E1E1E;
  color: #d8d8d8;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #050505;
}

.navbar {
  padding: 2px;
  border: solid 1px black;
}

a {
  color: #d8d8d8;
}

a:hover { 
  color: #d8d8d8;
}


h1 {
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 2.1px;
  font-size: 21px;
}

h2
{
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
}

h3
{
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-size: 18px;
}

h4
{
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}

h5
{
  font-family: "Open Sans";
  letter-spacing: 2px;
  font-size: 16px;
}
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}

.logo {
width: 150px;
padding: 10px;
}

.logogibd {
width: 130px;
padding: 10px;
padding-top: 5px;
padding-right: 0px;
}

.jumbotron {
  background-color: #444444;
}

.card{
text-align: left;
}

.daterow{
text-align: center;
}

.totalNoticias{
padding-top: 10px;
}

.rc-slider-track {
  background-color: #b0f2bc;
}

.rc-slider-dot-active {  
  border-color: #b0f2bc;
  border: solid 2px #b0f2bc;
}

.rc-slider-handle {
  background-color: #b0f2bc;
  border-color: #b0f2bc;
}

.rc.slider-handle:hover {
  border-color: #b0f2bc;
}

.rc.slider-handle-active:active {
  border-color: #b0f2bc;
}

.rc-slider-rail
{
  background-color: #737373;
}

.Select-control, .Select-menu-outer, .DateRangePicker.DateRangePicker_1, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #1E1E1E;
  color: white;  
}


.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}


.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color: #d8d8d8;
  font-weight: 400;
  font-size: 14px;
}


#date {
  background-color: #1e1e1e;
  font-family: "Open Sans";
  font-weight: 400;
  color: #dbdbdb;
  border: 0.5px solid #dbdbdb44;
}


.DateInput_input.DateInput_input_1{
  background-color: #1e1e1e;
  font-family: "Open Sans";
  font-weight: 400;
  color: #dbdbdb;
  border: 0.5px solid #dbdbdb44;
}

.DateRangePickerInput__withBorder{
  border:none;
}

.DateInput.DateInput_1 {
  background-color: #1e1e1e;
}

.DateRangePickerInput__withBorder {
  border-radius: 3px;
  color: #dbdbdb;
  background: #313131;
  background-color: #313131;
}

.DateRangePickerInput_arrow_svg{
  fill: #d8d8d8
}

.DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2 {
  border: 0.0px solid #dbdbdb;
  display: block;
}
.DateRangePicker_1 {
  border: 0.0px solid #dbdbdb;
  display: block;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover
{
  background: #b11e96;
  border: 1px double #c458b0;
}

.CalendarDay__selected_span
{
  background: #4f0d43;
  border: 1px double #772468;
}

.DateRangePicker_picker, .DateRangePicker_picker_1, .DateRangePicker_picker__directionLeft,
.DateRangePicker_picker__directionLeft_2{
  filter:invert(100%);
}